# Dependency folders
node_modules/

# Environment variables (Crucial for security!)
.env

# Database credentials and local text files
dbCredentials.txt
*.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db